
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
  }
  
  .container .tenor-gif-embed {
    max-width: 200px;
  }
  
  .container .btn {
    display: flex;
    gap: 25px;
  }
  .btn a,
.btn button {
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 8px;
  background: #ff9800;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.btn a:hover,
.btn button:hover {
  background: #e68900;
  transform: scale(1.05);
}

  .btn a {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
  }
  .btnt a{
     text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
  }

  .btny a{
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
  }
  .lpp li a{
    text-decoration: none;
    color: #111;
    font-size: 20px;
    display: flex;
    
  }
  .lpp li{
    list-style: none;
    
  }

 /* Floating flowers animation */
            .flower {
                position: absolute;
                bottom: -50px;
                width: 30px;
                height: 30px;
                background: url('https://res.cloudinary.com/dkdstxw96/image/upload/v1756032210/heartpng_paoaea.png') no-repeat center/cover;
                animation: floatUp 10s linear infinite;
                opacity: 0.8;

            }

            @keyframes floatUp {
                0% {
                    transform: translateY(0) rotate(0deg);
                    opacity: 0.8;
                }

                50% {
                    opacity: 1;
                }

                100% {
                    transform: translateY(-120vh) rotate(360deg);
                    opacity: 0;
                }
            }
